body {
font-size: small;
width: 100%;
margin:0;
padding:0;
background-color: #ffa500;
}

div.fav{
  margin:0;
  padding:0;
  background-image:url('/image.jpg');
  background-position:0px -60px;
  background-size:auto 350%;
  background-repeat: repeat;
 }


h1#strcolor1{

margin:0;
padding:0;
color: #ff8c00;
-webkit-text-stroke: 0.5px #b22222;
}

.strcolor2{
font-weight:bolder;
 font-size: medium;
color:#ff8c00;
-webkit-text-stroke: 0.7px #b22222;
}


#category-title{
vertical-align: -8px
}

#category-second-title{
vertical-align: -8px;
}

#search{
  width: 100px;
}

select#category{
 width: 100px;
}

select#category-second{
 width: 100px;
}


div#users{

background-color: #f4a460;
margin:0;
padding:0;
}


table {
   table-layout: fixed;
   width: 100%;
}

th,td {
   background-color: #f4a460;
   border: solid 1px;   /* 枠線指定 */
}

.singer{
 overflow:hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

.checkbox{
  background-color: #f4a460;
  border: 0px none;
}

/*checkbox*/
th.A0{
 width:15px;
}

/*曲名*/
th.A1 {
 width: 200px;
}

/*歌手名*/
th.A2{
 width: 165px;
}


/*配信日*/
th.A3 {
  width: 80px;
}

/*配信タイトル*/
th.A4 {

}


/*カウント*/
th.A5 {
  width: 15px;
}



label {
   display: block;
   font: 1rem 'Fira Sans', sans-serif;
}


button.btn{
text-align: left;
width: 100%;
border: none;
background-color: #ff8c00;
}

.title{
 overflow:hidden;
 text-overflow: ellipsis;
 white-space: nowrap;
}

input,
label {
   margin: .4rem 0;
}
